:root {
  --color1: white;
  --green: #149f49;
  --red: #ff6b6b;
  --black: #101015;
  --black2: #14141b;
}

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	font-size: 16px;
	font-family: "Asap", sans-serif;
	color: var(--black);
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 5px;
}
.section__title{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
}
.section__p{
	font-weight: bold;
}
.section__title:after{
	content: '';
    width: 60px;
    height: 1px;
    border: 1px solid var(--red);
    background-color: var(--red);
    margin: 7px 0;
}
.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: block;
    background: #fff;
}
 
.page-loader-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    margin: -18px 0 0 -18px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: rgb(255, 107, 107);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgb(255, 107, 107);
    border-right-color: rgba(0, 0, 0, 0.15);
    -webkit-animation: page-loader-circle 0.8s linear infinite;
    animation: page-loader-circle 0.8s linear infinite;
}
 
@keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
 
@-webkit-keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}







header{
	z-index: 2;
	width: 100%;
	position: fixed;
	padding: 15px 0;
	transition: 0.5s;
}
.header{
	display: flex;
	align-items: center;
	flex-direction: row;
}
.header__left{
	display: flex;
}
.header__logo{
	font-weight: bold;
	font-size: 1.5em;
	color: var(--color1);
	cursor: pointer;
	padding: 0 0 2px 0;
}
.toggle{
	font-size: 1.5em;
	color: var(--color1);
	display: none;
	margin: 0 0 0 auto;
}
nav{
	margin: 0 0 0 auto;
}
ul.menu{
	display: flex;
}
li.nav__li{
	list-style-type: none;
}
.menu__item{
	text-transform: uppercase;
	font-weight: bold;
	color: var(--color1);
	margin: 0 0 0 15px;
	padding: 0 0 2px 0;
	transition: 0.5s;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.menu__item:hover{
	color: #ff6b6b;
	border-bottom: 2px solid var(--red);
}





section.head{
	background-image: url("../img/header-bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.head__block{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.head__title{
	font-size: 5em;
	color: var(--color1);
	margin-top: 100px;
}
.head__description{
	font-size: 1.5em;
	margin: 5px 0 150px 0;
	color: var(--color1);
}
.head__arrow{
	font-size: 2.5em;
	color: var(--color1);
	display: flex;
	cursor: pointer;
}





section.about{
	background-color: var(--color1);
	padding: 70px 0;
}
.about__block{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about__description{
	line-height: 2;
	max-width: 600px;
	text-align: center;
	margin: 35px 0;
}
.about__buttons{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.button__services{
	width: 150px;
	display: flex;
	justify-content: center;
	border: 2px solid var(--black);
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 50px;
	color: var(--black);
	margin: 0 10px;
	transition: 0.5s;
	cursor: pointer;
}
.button__my_works{
	width: 150px;
	display: flex;
	justify-content: center;
	border: 2px solid var(--red);
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--red);
	border-radius: 50px;
	transition: 0.5s;
	margin: 0 10px;
	cursor: pointer;
}
.button__services:hover{
	background-color: var(--black);
	color: var(--color1);
	border: 2px solid var(--black);
}
.button__my_works:hover{
	background-color: var(--red);
	color: var(--color1);
	border: 2px solid var(--red);
}





section.services{
	background-color: var(--black);
	padding: 70px 0 30px 0;
	color: var(--color1);
}
.services__block{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services__content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 35px 0;
}
.services__item{
	width: 230px;
	background-color: var(--black2);
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	text-align: center;
	padding: 50px;
	margin: 12.5px;
	cursor: pointer;
	transition: 0.5s;
}
.services__item:hover{
	background-color: var(--red);
	
}
.services__item__icon{
	font-size: 7em;
	margin: 0 0 10px 0;
}
.services__item__description{
	font-weight: bold;
}




section.works{
	background-color: var(--color1);
	padding: 70px 0 30px 0;
}
.works__block{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.works__content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	margin: 15px 0;
}
.works__item{
	margin: 12.5px;
    width: 340px;
    height: 265px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.works__img__monitor{
	width: 340px;
    height: 240px;
    position: absolute;
    margin: 15px 0 0 0;
}
.works__img__work{
	width: 325px;
    height: 170px;
    margin-top: 25px;
}
.works__item__content{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 240px;
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    color: white;
    margin-top: 15px;
}
.works__item__title{
	font-weight: bold;
	font-size: 1.2em;
}
.works__item__description{
	margin: 10px 0 30px 0;
}
.button__work__view{
    display: flex;
    justify-content: center;
    color: var(--red);
    text-transform: uppercase;
	width: 100px;
	border: 2px solid var(--red);
	border-radius: 50px;
	padding: 5px;
	transition: 0.5s;
}
.button__work__view:hover{
    background-color: var(--red);
    color: var(--color1);
}
.works__item:hover .works__item__content{
  opacity: 1;
}




footer{
	background-color: var(--black);
	color: var(--color1);
	padding: 15px 0;
}
.footer{
	align-items: center;
	display: flex;
}
.copyright{
	font-weight: 800;
	color: var(--color1);
	cursor: pointer;
	transition: 0.5s;
}
.copyright:hover{
	color: var(--red);
}
.socials__icons{
	display: flex;
	margin: 0 0 0 auto;
}
.social__page{
	font-size: 1.7em;
	margin: 0 0 0 10px;
	color: var(--color1);
	transition: 0.5s;
}
.social__page:hover{
	color: var(--red);
}